@import './utility.scss';


.flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 1rem;
}

.content__left {
    max-width: 60%;
}

.sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: $orange;
}

.title {
    margin: 1rem 0;
    font-size: $xl;
}

.copy {}