// Colors
$base: #FDF8EE;
$gray: #6b6b6b;
$black: #222;
$orange: #EB6025;
$white: #fff;
$turquoise: #0092B8;
$drk-green: #043947;
$cream: #FDF8EE;

// Font sizes
$xl: 78px;
$lg: 54px;
$md: 48px;
$sm: 36px;
$xs: 20px;

// Margins


// Paddings