@import './css/base.scss';

body {
  background: #FDF8EE url('./assets/images/Home/hero.png') center no-repeat;
  background-size: cover;

}

.App {
  width: 100vw;
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
}