@import './css/variables.scss';
@import './css/utility.scss';

.home {
  width: 100vw;
  min-height: 100vh;
  background: #f5e9f2 url('./assets/images/Home/hero.png') center no-repeat;
  background-size: cover;

  // Hero section
  .hero {
    margin: 0 auto;

    .hero-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 6rem 1rem;
    }

    .hero-content__left,
    .hero-content__right {
      width: 65%;

      &.mt {
        margin-top: 4rem;
      }
    }

    .hero-sub-title {
      font-size: 1.5rem;
      line-height: 2rem;
      color: $orange;
    }

    .hero-title {
      margin: 1rem 0;
      font-size: $xl;
    }

    .hero-copy {
      font-size: 24px;
    }

    .hero-img {
      position: absolute;
      bottom: -9%;
      right: -28%;
      z-index: 2;

      img {
        width: 100%;
      }
    }

    .hero-cta {
      color: $white;
      background-color: $orange;
      margin-top: 2rem;
      font-size: 1.4rem;
      padding: 1rem;
      min-width: 15rem;
      border-radius: 50px;
      border: 1px solid transparent;
    }

    .cloud {
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
      width: 100%;
      opacity: 75%;
    }

  }

  // .home end
}